.popup-background {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);
}

.popup-board {
    position: fixed;
    z-index: 1000;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 50%;

    background-color: white;
    border-radius: 5px;
}

.popup-header{
}

.login-popup-exit{
    margin: 1em;
    float: right;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 2em;

    cursor: pointer;
}

.popup-body{
 }

.email-input-wrap{
    display: flex;
    position: relative;
}

.email-input{
    width: 80%;
    height: 3rem;
}

.email-input-wrap > .login-button{
    background-color: limegreen;
    color: white;
    font-size: 1.5rem;
    border: none;
}
.email-input-wrap > .login-button:hover{
    color: black;
}