.popup-background {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);
}

.popup-board {
    position: fixed;
    z-index: 1000;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 50%;

    background-color: white;
    border-radius: 5px;
}
