.login-popup-button {
    height: 30px;

    padding: 1px 16px 1px 16px;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;

    background-color: black;
    color: white;

    cursor: pointer;
}

.login-popup-button:hover{
    background-color: darkgrey;
}